<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Lists</display-name>
    <servlet-name>Lists</servlet-name>
    <servlet-class>com.View.Lists</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lists</servlet-name>
    <url-pattern>/Lists</url-pattern>
  </servlet-mapping>
  <display-name>CRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Datas</display-name>
    <servlet-name>Datas</servlet-name>
    <servlet-class>com.View.Datas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Datas</servlet-name>
    <url-pattern>/Datas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updates</display-name>
    <servlet-name>Updates</servlet-name>
    <servlet-class>com.View.Updates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updates</servlet-name>
    <url-pattern>/Updates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConCheck</display-name>
    <servlet-name>ConCheck</servlet-name>
    <servlet-class>com.View.ConCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConCheck</servlet-name>
    <url-pattern>/ConCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editor</display-name>
    <servlet-name>Editor</servlet-name>
    <servlet-class>com.View.Editor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editor</servlet-name>
    <url-pattern>/Editor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserValidate</display-name>
    <servlet-name>UserValidate</servlet-name>
    <servlet-class>com.View.UserValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidate</servlet-name>
    <url-pattern>/UserValidate</url-pattern>
  </servlet-mapping>
</web-app>